body{
    background-color: blue;
}
.studio1{
    background-color: red;
}
.studio2{
    background-color: gold;
}
.studio3{
    background-color: chartreuse;
}
.studio4{
    background-color: darkblue;
}